@page
@model cah264_mission09.Pages.OrderCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks! Your order will be there soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>